@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

@keyframes text-rainbow {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: purple;
    }
}
  
   h1{ position: relative;
    z-index: 2;
    font-size: 50;
     color: b20000;
     animation: text-rainbow 3s ease-in-out infinite;
     }
  
   h1{position: absolute;
     left: 100;
     top: 0;
     }
  
  .test1{position: absolute;
         left: 885;
         bottom: 660;
       
        
        font-size: 45;
        color: cyan;}
  
  .test2 {position: absolute;
         bottom: 660;
         right: 330;
        font-size: 45;
        color: blue;
}
 
  .about {text-align: right;
        
         font-size: 20;
         color: red;}
  .Info{position: absolute;
         top:40;
         right: 360;
       font-size: 30;
        transform: all 0.3 ease-in-out;
        scale: (1);
        z-index: 2;
        
         animation: text-rainbow 3s ease-in-out infinite;
      }
   .Dowload{position: absolute;
         top:40;
         right: 150;
       font-size: 30;
        transform: all 0.3 ease-in-out;
        scale: (1);
        z-index: 2;
         animation: text-rainbow 3s ease-in-out infinite;
          
      }
  .Credits{position: absolute;
         top:40;
         right: 510;
       font-size: 30;
        transform: all 0.3 ease-in-out;
        scale: (1);
        z-index: 2;
         animation: text-rainbow 3s ease-in-out infinite;
          
      }
  
  .Info:hover{transform: scale(1.2);}
  
  .Dowload:hover{transform: scale(1.2);}
  .Credits:hover{transform: scale(1.2);}
  
  .top{position: absolute;
      top: 0;
       z-index: 1;
       width: 1903;
       height: 100;
       border-radius: 25px;
      background-color: #811818;}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}



  